---
import { getCollection } from 'astro:content';
import Main from '@/layouts/Main.astro';
import Layout from '@/layouts/Layout.astro';
import Tag from '@/components/Tag.astro';
import Header from '@/components/Header.astro';
import Footer from '@/components/Footer.astro';
import getUniqueTags from '@/utils/getUniqueTags';
import { useTranslations, getCurrentLocale, getLocaleStaticPaths } from '@/utils/i18n';

import { getLocalizedPosts } from '@/utils/getLocalizedPosts';

export const getStaticPaths = getLocaleStaticPaths;

const locale = getCurrentLocale(Astro);
const t = useTranslations(locale);

const allPosts = await getCollection('blog', ({ data }) => !data.draft);
const posts = getLocalizedPosts(allPosts, locale);

let tags = getUniqueTags(posts);
---

<Layout title={`Tags | ${t('site.title')}`}>
  <Header />
  <Main pageDesc={t('tags.pageDesc')}>
    <ul class="flex flex-wrap gap-6">
      {tags.map(({ tag, tagName }) => <Tag tag={tag} tagName={tagName} />)}
    </ul>
  </Main>
  <Footer />
</Layout>
