---
import '@docsearch/css';
---

<div id="docsearch"></div>

<script>
  import docsearch from '@docsearch/js';
  import { SITE } from '@/config';

  docsearch({
    container: '#docsearch',
    appId: SITE.algolia.appId,
    indexName: SITE.algolia.indexName,
    apiKey: SITE.algolia.apiKey,
  });
</script>
